.DS_Store

#Dependencies
node_modules

#Webpack Bundle
client/dist/

#Config File (API Keys)
server/config.js

#NPM Debug Log
npm-debug.log.*

#User Avatars
client/static/assets/avatar/
uploads/

#Test Files
client/test.html
client/testApp.js
