//fonts and colors

//to import fonts you can go to fonts.googleapis.com/css
@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Karla);

//Add Color Palette
$green: #5CAB8C;
$lightgreen: #C6E3C4;
$purewhite: #fff;
$white: #F8FAF5;

$lightgray:#707070;
$slategray: #24313c;

$darkgreen: darken($green, 5%);
