.home {
  .container {
    margin: 0 auto;
    padding-top:50px;

    .btn {
      background-color: $green;
      border-radius: 0;
      width:35%;
      max-width:170px;
      border-color:$darkgreen;
      &:hover {
        background-color: $darkgreen;
        border-color:$darkgreen;
      }

      .btn-success {
        border-color:$darkgreen;
      }
    }
  }

  .logo {
    display: block;
    width:70%;
    max-width:400px;
    margin:0 auto;
  }

  .lead {
    color: white;
  }

  .slide1, .slide2, .slide3 , .slide4, .slide5 {
    min-height: 560px;
    background-size: cover;
    background-position: center center;
  }
  .slide1 {
      background-image: url(https://tinypapers.files.wordpress.com/2013/02/032_5.jpg);
  }
  .slide2 {
      background-image: url(http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2012/05/17/ab/nashville-gac-restaurants-merchants.rend.tccom.616.462.jpeg);
  }
  .slide3 {
      background-image: url(http://www.theavantguardian.com/wp-content/uploads/2014/01/IMG_4662.jpg);
  }

  .slide4 {
    background-image: url(http://www.sanfrancisco.travel/sites/sftraveldev.prod.acquia-sites.com/files/field/image/starbelly_sf_large_party_table.jpg);
  }
  .slide5 {
    background-image: url(http://i2.wp.com/wanderfulworldtac.files.wordpress.com/2013/06/nyhavn-night-b-w.jpg);
  }
  /*.slide6 {
    background-image: url('./../assets/mexican_restaurant.jpg');
  }*/

  .carousel.carousel-fade .item {
      -webkit-transition: opacity 1s linear;
      -moz-transition: opacity 1s linear;
      -ms-transition: opacity 1s linear;
      -o-transition: opacity 1s linear;
      transition: opacity 1s linear;
      opacity: .5;
  }
  .carousel.carousel-fade .active.item {
      opacity: 1;
  }
  .carousel.carousel-fade .active.left,
  .carousel.carousel-fade .active.right {
      left: 0;
      z-index: 2;
      opacity: 0;
      filter: alpha(opacity=0);
  }
  .carousel-overlay {
      position: absolute;
      bottom: 100px;
      right: 0;
      left: 0;
  }

  .about {
    background-color: white;

    .about-title {
      background-color: white;
      padding: 30px;
      /*font-family: 'Amatic SC', cursive;*/
      font-family: 'Grand Hotel', cursive;
      font-size: 60px;
      font-weight: bold;
    }

    .steps {
      text-align: center;
      display: flex;
      justify-content:center;
      flex-direction: column;
      height: 100%;
      margin: 0px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;

      .step {
        padding: 15px;
        width: 90%;
        text-align: center;
        font-size: 20px;
        background-color: $white;
        display: block;
      }

      .describe {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 25px;
        font-family: 'Karla'
      }
    }
    .gif {
      background-image: url("http://search.criticalzone.org/assets/img/photos/screencast_placeholder.jpg");
      padding: 50px;
      text-align: center;
      background-size: cover;
      height: 500px;
      margin: 0px;
    }
  }

  .purpose {

    width: 100%;
    padding: 0px;
    margin: 0px;

    .description {
      margin: 0px;
      padding: 30px;
      color: white;
      background-color: black;
      text-align: left;
      font-size: 20px;
    }

    .right{
      margin: 0px;
      padding: 30px;
      text-align: right;
      color: white;
      background-color: black;
      font-size: 20px;
    }

    .how1 {
      width: 100%;
      height: 400px;
      background-image: url(http://www.saviobianconi.com/wp-content/uploads/2015/02/saviobianconi_photographers_thailand_1.jpg);
      background-size: cover;
      margin: 0px;

    }
    .how2 {
      width: 100%;
      height: 400px;
      background-image: url(https://reflectionsofchina.files.wordpress.com/2012/03/shanghais-busy-streets.jpg);
      background-size: cover;
      margin: 0px;
    }
    .how3 {
      width: 100%;
      height: 400px;
      background-image: url(https://cdn1.vox-cdn.com/thumbor/QiFK-MP_zfNG6Lr4fpLwqJvysg0=/0x105:2000x1230/1310x737/cdn0.vox-cdn.com/uploads/chorus_image/image/46276926/20150303-Mu_Ramen--10.0.0.0.0.jpg);
      background-size: cover;
      margin: 0px;
    }
  }

  .team {
    background-color: $white;
    width: 100%;
    padding: 20px;

    .team-title{
      padding:50px;
      font-family: 'Grand Hotel', cursive;
      font-size: 60px;
      font-weight: bold;
    }
    
    .team-member {
      text-align: center;
      padding: 30px;

      .member-name {
        /*color: $green;*/
        padding: 5px;
      } 

      .img-circle {
        height: 170px;
      }

      .fa {
        /*color:#333;*/
        color: $green;
      }
    }
  }
}
