.profile div {
  background-color:green;
}

.history-header {
  h1 {
    margin:20px auto;
    margin-top: 80px;
    text-align: center;
  }
}

.non-button {
  a, a:link, a:visited, a:hover, a:active {
    color: $green
  }
}

